*.vcd
*.vvp

*.sv.bak
*.bak
*.kicad_pcb-bak

*.creator.user
*.pro.user
*\.user\.4\.9-pre1
*/__pycache__
*/.qsys_edit/*

py_code/vcd
py_code/sample

fpga/verilator_tests/*/obj_dir
fpga/verilator_tests/*/logs

fpga/sdio_project/db/
fpga/sdio_project/incremental_db/
fpga/sdio_project/output_files/
fpga/sdio_project/simulation/


